html, body {
    height: 100%;
    /*background: #343838;*/
    background: black;
    margin: 0;
    font: 10px;
    font-family: 'Raleway', sans-serif;
    color: orange;

}

.q0 { fill:rgb(255,255,255); }
.q0-9 { fill:rgb(247,251,255); }
.q1-9 { fill:rgb(222,235,247); }
.q2-9 { fill:rgb(198,219,239); }
.q3-9 { fill:rgb(158,202,225); }
.q4-9 { fill:rgb(107,174,214); }
.q5-9 { fill:rgb(66,146,198); }
.q6-9 { fill:rgb(33,113,181); }
.q7-9 { fill:rgb(8,81,156); }
.q8-9 { fill:rgb(8,48,107); }

.states {
  fill: none;
  /*stroke: #fff; */
  stroke: black;
  stroke-linejoin: round;
}

#tooltip {
    position: absolute;
    width: auto;
    height: auto;
    padding: 3px;
    background-color: #111;
    /*-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;*/
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
    opacity:0.65;
}
#tooltip.hidden {
    display: none;
}
#tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 10px;
    line-height: 10px;
    color: orange;
}